:root{
    --black:#020202;
    --blue:#0D324D;
    --lav:#7F5A83;
    --mauve:#A188A6;
    --steel:#9DA2AB;
    --steel-hover: #6f7275;
}

body{
    margin:0;
    background-color: var(--steel-hover);
}

* {
  box-sizing: border-box;
}

/* NAV BAR CSS */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--steel);
}

ul .title{
    text-align: center;
    padding-right: 3rem;
}

ul li{
    /*tells it to start on the left*/
    float: left;
}

ul li a{
    display:block;
    color: var(--black);
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
}

ul li a:hover{
    background-color: var(--steel-hover);
}

/* MAIN SECTION CSS*/


h1{
    font-size:3rem;
    text-align: center;
    color:var(--black);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: 2px;
}

.main_container{
    display:flex;
    flex-wrap:wrap;
    background-color: var(--mauve);
    margin: 0 10rem;
    border: 3px var(--black) solid;
    border-radius: 1rem;
}

.box{
    flex: 33%;
    margin:2rem;
}

/*makes all items in the .non_image display flex (one level down) the box did not do that*/
.non_image {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 2px var(--blue) solid;
    border-radius: 5rem;
    background-color: var(--lav);
    /*what allows the non_images to center themselves so they don't stretch as tall as the images*/
    align-self: center;
}


.non_image p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--black);
    text-align: center;
    height: auto;
    padding: 1rem 2rem;
}

.non_image p a{
    text-decoration: none;
}

.box img{
    width:60%;
    height: auto;
    display: block;
    border-radius: 1rem;
    border: 3px var(--blue) solid;
    margin: 0 auto;
}

.box p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: var(--black);
    text-align: center;
    height: auto;
}

@media screen and (max-width: 980px) {
  .box {
    flex: 50%;
  }

  .main_container{
    margin: 0 5rem;
  }
}

@media screen and (max-width: 720px) {
  .main_container {
    flex-direction: column;
    margin: 0 1rem;
  }
}